<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Retronix_Inventory_System_Management.Properties.Settings.Inventory_DatabaseConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=&quot;Inventory Database&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>